body{
    background: url('../images/fundo.JPG') no-repeat fixed;
    background-size: cover;

}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.logo{
    margin-left: 80px;
    height: 80px;
    width: 70px;
    margin-top: 15px;
}

.menu{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    font-size: 25px; 
    margin-right: 80px;
}

.item{
    color: white;
    text-decoration: none;
    text-shadow: 3px 3px 2px rgb(26, 24, 24);
    font-family: 'Courier New', Courier, monospace;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

a:hover{
    color: lightslategrey;
}

a:active{
    color: transparent;
}

ul{
    list-style-type: none;
}

fieldset{
    border: 1px solid;
    color: white;
    font-family: sans-serif;
    padding: 20px;
    border-radius: 10px;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 18px;
    background: linear-gradient(to right, rgb(65, 65, 238), rgb(226, 5, 5) );
    border-radius: 10px; 
}

.titulo{
    text-align: center;
    font-size: 25px;
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
}

.campo{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    width: 100%;
    letter-spacing: 1px;
    color: rgb(226, 253, 253);
}

.campodata{
    padding: 3px;
    border-radius: 8px;
    background-image: url(../images/foto4.jpg);
}

.botao{
    display: block;
    margin: auto;
    border: none;
    padding: 7px;
    border-radius: 5px;
    background: linear-gradient( to right, rgb(92, 92, 252), rgb(46, 126, 126));
    color: rgb(226, 243, 243);
}

.botao:hover{
    cursor: pointer;
}