.discografia{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 50px;
}
.disco{
    box-shadow: 3px 3px 10px black;
    margin: 20px; 
    background: linear-gradient( to top, black, white);
    height: 480px;
    border-radius: 10px;
    border: 2px solid white;
}

.titulo{
    text-align: center;
    position: relative;
    top: 4px;
    font-size: 22px;
    font-family: 'xhers', Times, serif;
    letter-spacing: 3px;
    color: #fff; 
}

.capa{
    width: 330px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.musicas{
    margin: 20px;
}

.audio{
    margin: 10px auto;
    text-align: center;
}

.link{
    
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid #000;
    background: linear-gradient( to right, rgb(95, 13, 13), rgb(245, 8, 8));
    padding: 5px;
    border-radius: 30px; 
}


