@font-face{
  font-family: 'arcadeFont';
  src: url('../fonts/arcade.ttf');
}


.game-board{
    width: 80%;
    height: 500px;
    border: 1px solid white;
    margin: 0 auto;
    position:relative;
    overflow: hidden;
    
}

.jogo-container {
    display: none;
  }

.jogo-container.mostrar {
    display: flex;
  }

  .obstaculo{
    position:absolute;
    bottom: 0;
    width: 100px;
    right: 200px;
    animation: obstaculo-animation 1.5s infinite linear;
 
  }

  .personagem {
    width:150px;
    position: absolute;
    bottom: 0;
    
   
    
  }

  .jump{
    animation: jump 500ms  ease-out;
  }

  @keyframes obstaculo-animation {

    from{
        right: -200px;
    }

    to{
        right: 100%;

    }
    
  }

  @keyframes jump {

    0%{
        bottom:0;
    }

    40%{
        bottom: 180px;
    }
    
    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }

  }

  .game-board{
    margin-top: 100px;
    display:none;
    background: url(../images/jogo/bg-game-board.png) center;
    background-size: cover;
    position: relative;
  }

  .game-board.mostrargame-board{
    display: flex;
  }

  .select-caracter{
    display: flex;
    justify-content: space-around;
    height: 500px;
    gap: 30px;
    margin-top: 200px;
    position: relative;
  }

  .select-caracter{
    display:none;
  }

  .select-caracter.mostrarcaracter{
    display: flex;
  }

  .tituloPersonagem{
    position: absolute;
    color: white;
    top: -150px;
  }

  .game{

    width: 100%;
  }
  .jogo-container{
    display:flex;
    justify-content: center;
    align-items: center;
    

  }

  .card-caracter{
    border: 1px pink solid;
    width: 200px;
    height: 200px;
    cursor: pointer;
  }

  .card-caracter img{
    width: 100%;
  }

  .contador{
    font-size: 50px;
    padding: 50px;
  }



  .trocarPersonagem{
    position: absolute;
    top: 50px;
    margin: auto;
    right: 50px;
    width: 100px;
    height: 50px;
    cursor: pointer;

  }

  .contador{
    font-family: 'arcadeFont';
  }

  .card-caracter{
    border: 2px solid var(--cor-padrao);
    background-color: var(--cor-padrao);
    /* width: 20%; */
    height: 200px;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    position: relative;
    transition: 0.15s ease-in-out;
    
  }

  .card-caracter.selecionado:hover{

    border: 2px solid var(--cor-azul-media);
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;

}

  .card-caracter:hover{
    
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
    transform: scale(1.07);
    z-index: 2;
}

.tituloPersonagem{
  font-family: 'arcadeFont';
  letter-spacing: 2px;
  font-size: 50px;
}

.start{
  position: absolute;
  top: 100px;
  margin: auto;
  right: 0;
  left: 0;
  width: 100px;
  height: 50px;
  cursor: pointer;
  font-family: 'arcadeFont';
  letter-spacing: 5px;
  font-size: 30px;
}


.botaoReset{
  
  /* width: 100px;
  height: 20px;
  display: none;
  cursor: pointer;
  
   */
}

/* .button{
  position:relative;
  display:inline-block;
  margin:20px;
} */

.button a{
  color:black;
  letter-spacing: 3px;
  font-family:'arcadeFont', sans-serif;
  font-weight:bold;
  font-size: 20px;
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B;
  display:block;
  position:relative;
  padding:10px;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active{
  top:10px;
  background-color:#F78900;
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.divBotaoReset{
  position: absolute;
  margin: auto;
  top: 100px;
  right: 0;
  left: 0;
  width: 110px;
  
}

