@font-face{
  font-family: 'arcadeFont';
  src: url('../fonts/arcade.ttf');
}


.game-board{
    width: 80%;
    height: 500px;
    border: 1px solid white;
    margin: 0 auto;
    position:relative;
    overflow: hidden;
    
}

.jogo-container {
    display: none;
  }

.jogo-container.mostrar {
    display: flex;
  }

  .obstaculo{
    position:absolute;
    bottom: 0;
    width: 100px;
    right: 200px;
    animation: obstaculo-animation 1.5s infinite linear;
  }

  .personagem {
    width:150px;
    position: absolute;
    bottom: 0;
  }

  .jump{
    animation: jump 500ms  ease-out;
  }


  @keyframes obstaculo-velocidadeaumentada3x {

    from{
        right: -200px;
    }

    to{
        right: 100%;

    }
  }


  @keyframes obstaculo-velocidadeaumentada2x {

    from{
        right: -200px;
    }

    to{
        right: 100%;
    }   
  }

  @keyframes obstaculo-velocidadeaumentada {

    from{
        right: -200px;
    }

    to{
        right: 100%;
    }  
  }

  @keyframes obstaculo-animation {

    from{
        right: -200px;
    }

    to{
        right: 100%;
    }  
  }

  @keyframes jump {

    0%{
        bottom:0;
    }

    40%{
        bottom: 180px;
    }
    
    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }

  }

  .game-board{
    margin-top: 100px;
    display:none;
    background: url(../images/jogo/primeiroMapa.png) center;
    background-size: cover;
    position: relative;
  }

 

  .primeiroMapaSelecionado{
    background: url(../images/jogo/primeiroMapa.png) center;
    background-size: cover;
  }

  .segundoMapaSelecionado{
    background: url(../images/jogo/segundoMapa.jpg) center; 
    background-size: cover;
  }
  
  .terceiroMapaSelecionado{
    background: url(../images/jogo/terceiroMapa.jpg) center; 
    background-size: cover;
  }
  

  .game-board.mostrargame-board{
    display: flex;
  }

  .select-caracter{
    display: flex;
    justify-content: space-around;
    height: 600px;
    gap: 30px;
    margin-top: 200px;
    position: relative;
  }

  .select-caracter{
    display:none;
  }

  .select-caracter.mostrarcaracter{
    display: flex;
  }

  .tituloPersonagem{
    position: absolute;
    color: white;
    top: -150px;
  }

  .game{
    width: 100%;
  }

  .jogo-container{
    display:flex;
    justify-content: center;
    align-items: center;
    

  }

  .card-caracter{
    width: 200px;
    height: 200px;
    cursor: pointer;
  }

  .card-caracter img{
    width: 100%;
  }

  .contador{
    font-size: 50px;
    padding: 50px;
  }



  .trocarPersonagem{
    position: absolute;
    top: 50px;
    margin: auto;
    right: 50px;
    width: 100px;
    height: 50px;
    cursor: pointer;

  }

  .contador{
    font-family: 'arcadeFont';
  }

  .card-caracter{
    border: 2px solid var(--cor-padrao);
    background-color: var(--cor-padrao);
    /* width: 20%; */
    height: 200px;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    position: relative;
    transition: 0.15s ease-in-out;
    
  }

  .card-caracter.selecionado:hover{

    border: 2px solid var(--cor-azul-media);
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;

}

  .card-caracter:hover{
    
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
    transform: scale(1.07);
    z-index: 2;
}

.tituloPersonagem{
  font-family: 'arcadeFont';
  letter-spacing: 2px;
  font-size: 50px;
}

.start{
  position: absolute;
  top: 100px;
  margin: auto;
  right: 0;
  left: 0;
  width: 100px;
  height: 50px;
  cursor: pointer;
  font-family: 'arcadeFont';
  letter-spacing: 5px;
  font-size: 30px;
}



.button a{
  color:black;
  letter-spacing: 3px;
  font-family:'arcadeFont', sans-serif;
  font-weight:bold;
  font-size: 20px;
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B;
  display:block;
  position:relative;
  padding:10px;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active{
  top:10px;
  background-color:#F78900;
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.divBotaoReset{
  position: absolute;
  margin: auto;
  top: 100px;
  right: 0;
  left: 0;
  width: 110px;
  
}


/* botao trocar personagem*/



.botaoTrocarPersonagem a{
  color:black;
  letter-spacing: 3px;
  font-family:'arcadeFont', sans-serif;
  font-weight:bold;
  font-size: 18px;
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B;
  display:block;
  position:relative;
  padding:10px;
  width: 150px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.botaoTrocarPersonagem a:active{
  top:10px;
  background-color:#F78900;
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.botaoTrocarPersonagem:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.divBotaoTrocarPersonagem{
  position: absolute;
  margin: auto;
  right: 50px; 
}

.divMapas{
  width: 400px;
  height: 200px;
  position: absolute;
  border: 1px solid white;
  bottom: 50px;
  color: white;
  font-family: 'arcadeFont';
  left: 250px;
 
  
  
}

.divMapas h3{
  text-align: center;
  letter-spacing: 5px;
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
}

.setaMapa{
  width: 40px;
  cursor: pointer;
  position: absolute;
  bottom: 80px;
}

.setaProximoMapa{
  right: -50px;

}

.setaMapaAnterior{
  transform: rotateY(180deg);
  left: -50px;
  
  
}

.mapa1, .mapa2, .mapa3{
  width: 100%;
  height: 100%;

}

.mapa1, .mapa2, .mapa3{
  display:none;
}

.mostrarMapa{
  display: block;
}

.opacidade {
  opacity: 0.5;
  cursor: default;
}

.msgNovoPersonagem{
  position: absolute;
  text-align: center;
  width: 700px;
  height: 50px;
  cursor: pointer;
  font-family: 'arcadeFont';
  letter-spacing: 5px;
  font-size: 20px;
  margin: auto;
  right: 0;
  left:0;
  top: 50px;
  display: none;
  animation: novoPersonagem 6s ease-in-out;
  z-index: 1;
}
.mostrarMsgNovoPersonagem{
  display: block;
}

@keyframes novoPersonagem{
  0%{
    transform: scale(0);

  }
  30%{
    transform: scale(1.2);
    

  }
  50%{
    transform: scale(1);
    transform: rotate(-5deg);

  }
  100%{
    transform: scale(1.6);
    font-size: 30px;
  }
}

.cardNovoPersonagem{
  display: none;
}

.personagemDesbloqueado{
  display: block;
}

.ranking{
  color: white;
  position: absolute;
  bottom: 70px;
  right: 100px;
  width: 400px;
  font-family: 'arcadeFont';
  font-size: 20px;
  text-align: center;
 
}

.ranking h3{
  letter-spacing: 3px;
}

.rankingTable{
  width: 100%;
  background: rgb(8, 8, 8);
}

.nomeRank{
  width: 300px;
}

tr, td{
  border: 2px solid white;
  
}

td{
  padding: 10px 20px;
}


.disqueteSalvar{
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotateX(180deg);
  animation: giraDisquete 5s infinite linear;
  display: none;
  cursor: pointer;
}

.mostrarDisqueteSalvar{
  display: block;
}

@keyframes giraDisquete {
  0%{
    transform: rotateY(0);
  }

  50%{
    transform: rotateY(360deg);
  }
  100%{
    transform: rotateY(0);
  }
  
}

.turnYourPhone{
  display: none;
}

.imgPlayPause{
  background-color: white;
  border-radius: 50px;
  border: 2px solid white;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}

.imgPlayPause{
  display: none;
}

.tutorial{
  height: 100px;
  background-color: black;
  width: 300px;
  text-align: center;
  color: white;
  font-family: 'arcadeFont';
  letter-spacing: 3px;
  font-size: 12px;
  position: absolute;
  top: 200px;
  margin: auto;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  align-items: center;

}