body{
    background: url('../images/fundo.JPG') no-repeat fixed;
    background-size: cover;

}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo{
    margin-left: 80px;
    height: 80px;
    width: 70px;
    margin-top: 15px; 
}

.menu{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    font-size: 25px; 
    margin-right: 80px;
}

.item{
    color: white;
    text-decoration: none;
    text-shadow: 3px 3px 2px rgb(26, 24, 24);
    font-family: 'Courier New', Courier, monospace;
   
}

a:hover{
    color: lightslategrey;
}

a:active{
    color: transparent;
}

ul{
    list-style-type: none;
}

.icones{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 84%;
       
}

.icon{
    margin-bottom: 10px;
}

.iconspot{
    margin-bottom: 15px;
    margin-right: 7px;
}
